@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-body: Body;
    --font-display: Display;
  }

  body {
    @apply bg-backdrop font-body text-white;
    font-size: 18px;
    letter-spacing: 2px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-3xl font-bold uppercase;
  }
}
